.vh-100 {
    min-height: 100vh;
}
  
.icon {
    font-size: 1.5em;
    margin: 0.3em;
    transition: opacity .5s, transform .5s;
    color: $theme-text-dark;
}

@media (hover: hover) {
    .icon:hover {
        opacity: 0.7;
    }
}