/** navigation bar **/

#home-navbar {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#home-navbar .navbar-item {
	font-size: 150%;
	width: 10em;
	display: block;
	margin: 1em auto;
	padding: 1.2em;
	border: solid 2px black;
}

/****/

/** Home **/

#home-content {
	position: relative;
	min-height: 100vh;
	min-width: 100vw;
}

/****/

/** responsive **/

@media screen and (max-width: 800px) {
	#home-navbar .navbar-item {
		width: 50vw;
	}
}

@media screen and (max-width: 500px) {
	#home-navbar .navbar-item {
		width: 90vw;
		height: 4em;
		margin: 0.25em auto;
		padding: 1em;
		font-size: 1.5em;
	}
}

@media screen and (max-height: 450px) {
	#home-navbar .navbar-item:first-child {
		margin-top: 5em;
	}
}

/****/