/** Apps **/

#modal {
	z-index: 3;
	position: fixed;
	display: none;
	background-color: rgba(0, 0, 0, 0.95);
	width: 100%;
	height: 100vh;
	overflow-y: scroll;
}

#modal-content {
	position: absolute;
	width: 75%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	line-height: 1;
}

#modal-photo {
	background-size: 100% 100%;
	width: 100%;
	min-width: 560px;
	min-height: 315px;
	padding-top: 56.25%;
	transition: background-image .5s;
}

#close, #prev, #next {
	cursor: pointer;
	position: absolute;
}

#close {
	transition: opacity .5s;
	font-size: 5em;
	top: 0;
	right: 0;
}

#prev, #next {
	transition: transform .5s;
	font-size: 3em;
	top: 50%;
}

#prev {
	margin-left: 0.1em;
	left: 0;
}

#next {
	margin-right: 0.1em;
	right: 0;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(14em, 1fr));
	align-items: baseline;
	justify-items: left;
}

.app {
	background-color: black;
	box-shadow: 0 4px 8px 0 rgba(0, 77, 0, 0.2), 0 6px 20px 0 rgba(0, 77, 0, 0.5);
}

.app-thumbnail {
	background-size: 100% 100%;
	width: 13em;
	padding-top: 7.3125em;
	transition: transform .5s, background-image .5s ease-in;
	z-index: 1;
}

.app-info {
	width: 13em;
	max-height: 3em;
	overflow: hidden;
	position: relative;
	transition: max-height .5s ease-in;
}

.app-description {
	width: 13em;
	text-align: left;
}

.fa-code-branch {
	font-size: 1.2em;
	margin: 0.3em;
	transition: color .5s ease-in, transform .5s;
}

.read-more-less {
	background-color: rgba(0, 0, 0, 1);
	position: absolute;
	bottom: 0;
	right: 0;
	box-shadow: -1em 0em 2.5em 1.5em rgba(0, 0, 0, 1);
	text-align: right;
}

.read-more-less p {
	margin-left: auto;
	margin-right: 0;
	width: 4em;
	cursor: pointer;
}

.keyword-link {
	display: inline-block;
	width: 3em;
	margin-right: 1em;
	color: grey;
	transition: transform .5s;
	cursor: pointer;
}

.keyword-link.active {
	color: green;
}

.keyword-link.not {
	cursor: initial !important;
}

.keyword {
	color: rgba(0, 77, 0, 1);
	font-weight: bold;
}

/****/

/* hover animations */

@media (hover: hover) {
	#close:hover {
		opacity: 0.5;
	}

	#prev:hover, #next:hover {
		transform: scale(1.3);
	}
	
	.app-thumbnail:hover {
		transform: scale(1.2);
		cursor: pointer;
	}
	
	.fa-code-branch:hover {
		transform: scale(1.5);
		color: rgba(0, 77, 0, 0.7);
	}
	
	.keyword-link:not(.not):hover {
		color: green;
		transform: scale(1.3);
	}
}

/****/

/** responsive **/

@media screen and (max-width: 800px) {	
	.grid {
		grid-template-columns: 1fr;
		justify-items: center;
	}
	
	#modal-photo {
		min-width: initial;
		min-height: initial;
	}
}

/****/