$theme-color-dark: $gray-900;
$theme-color-light: $gray-400;
$theme-text-dark: $gray-900;
$theme-text-light: $white;
$theme-color-element: rgba($white, .5);

$font-size-ex-lg: $font-size-base * 1.5 !default;

$navbar-theme-bg: $theme-color-dark;
$navbar-theme-hover: hover-color($white);
$navbar-theme-active: $white;
$navbar-theme-brand: $white;
$navbar-theme-element: $theme-color-element;
$navbar-theme-toggler-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path stroke='#{$navbar-theme-element}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !default;

$btn-theme-bg: $theme-color-dark;
$btn-theme-text: $theme-color-light;
$btn-theme-hover: hover-color($btn-theme-bg);