.go-top-btn {
    @extend .mb-3;
    @extend .ml-3;
    bottom: 0;
    left: 0;
    position: fixed;
}

app-home {
    .icon {
        @extend .m-2;
        font-size: $font-size-ex-lg;
        color: $theme-color-dark;
        transition: opacity $transition-time, transform $transition-time;
    }

    @media (hover: hover) {
        .icon:hover {
            opacity: $hover-opacity;
        }

        .social-media:hover {
            transform: scale(1.5);
        }

        .map-pin:hover {
            transform: rotate(360deg);
        }
    }
}

app-portofolio {
    .pdf-viewer-container {
        max-height: 90vh;
        overflow-y: auto;
        width: 70%;
        margin-left: 15%;
    }

    pdf-viewer {
        display: block;
    }
}

app-projects {
    .technology {
        @extend .mr-5;

        color: #003e80;

        &:hover {
            color: hover-color(#003e80);
        }

        &.active {
            font-weight: 900;

            &:hover {
                color: #003e80;
            }
        }
    }
}

app-empty-page {
    .empty-page-container {
        @extend .d-flex;
        @extend .flex-column;
        @extend .align-items-center;
    }
}