body {
  background-color: $theme-color-light;
}

.navbar-theme {
  @extend .navbar-expand-lg;
  @extend .sticky-top;

  background-color: $navbar-theme-bg;

  .navbar-brand {
    color: $navbar-theme-brand;

    &:hover {
      color: $navbar-theme-hover;
    }
  }

  .navbar-nav {
    .nav-item {
      &:hover {
        color: $navbar-theme-hover;
      }
    }
    
    .nav-link {
      color: $navbar-theme-element;

      &:hover {
        color: $navbar-theme-hover;
      }

      &.active {
        color: $navbar-theme-active;
      }
    }
  }

  .navbar-toggler {
    color: $navbar-theme-bg;
    border-color: $navbar-theme-element;
  }

  .navbar-toggler-icon {
    background-image: escape-svg($navbar-theme-toggler-icon);
  }
}

.container-theme {
  @extend .vh-100;
  @extend .position-relative;
  @extend .px-0;
  @extend .pt-5;

  color: $theme-text-dark;
}

.footer-theme {
  @extend .mb-5;
  @extend .px-2;

  text-align: center;
  width: 100%;
  // position: absolute;
  bottom: 0;

  hr {
    background-color: $theme-color-dark;
  }
}

.btn-theme {
  background-color: $btn-theme-bg;
  color: $btn-theme-text;
}

.card-theme {
  border: none;
}

.card-header-theme {
  background-color: $theme-color-dark;

  .btn {
    color: $theme-text-light;

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}

.card-body-theme {
  border: 2px solid $theme-color-dark;
  background-color: $theme-color-light;
  color: $theme-text-dark;
}

::-webkit-scrollbar {
  width: 1em;
}
 
::-webkit-scrollbar-track {
  background-color: $theme-color-element;
}
 
::-webkit-scrollbar-thumb {
  background-color: $theme-color-dark;
}