body {
  background-color: $theme-color-light;
}

.link {
  text-decoration: none;
  color: $theme-link;

  &:visited {
    color: $theme-link;
  }

  &:hover {
    color: $theme-link-hover;
  }
}

a {
  @extend .link;
}

.navbar-theme {
  @extend .navbar-expand-lg;
  @extend .sticky-top;

  background-color: $navbar-theme-bg;

  .navbar-brand {
    color: $navbar-theme-brand;

    &:hover {
      color: $navbar-theme-hover;
    }
  }

  .navbar-nav {
    .nav-item {
      &:hover {
        color: $navbar-theme-hover;
      }
    }
    
    .nav-link {
      color: $navbar-theme-element;

      &:hover {
        color: $navbar-theme-hover;
      }

      &.active {
        color: $navbar-theme-active;
      }
    }

    .dropdown-menu {
      border: none;
      background-color: $navbar-theme-bg;
    }
  }

  .navbar-toggler {
    color: $navbar-theme-element;
    border-color: $navbar-theme-element;
  }
}

.container-theme {
  @extend .position-relative;
  @extend .px-0;
  @extend .pt-5;
  
  min-height: 85vh;
  color: $theme-text-dark;
}

.footer-theme {
  @extend .mb-5;
  @extend .px-2;

  text-align: center;
  width: 100%;
  bottom: 0;

  hr {
    background-color: $theme-color-dark;
  }
}

.btn-theme {
  @extend .btn;

  min-width: $font-size-base * 2.5;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.btn-primary-theme {
  background-color: $btn-primary-theme-bg;
  color: $btn-primary-theme-text;

  &:hover {
    background-color: $btn-primary-theme-bg-hover;
    color: $btn-primary-theme-text;
  }
}

.card-theme {
  border: none;
}

.card-header-theme {
  background-color: $theme-color-dark;

  .btn-theme {
    color: $theme-text-light;
  }
}

.card-body-theme {
  border: 2px solid $theme-color-dark;
  background-color: $theme-color-light;
  color: $theme-text-dark;
}

::-webkit-scrollbar {
  width: 1em;
}
 
::-webkit-scrollbar-track {
  background-color: $theme-color-element;
}
 
::-webkit-scrollbar-thumb {
  background-color: $theme-color-dark;
}