<div class="row">
  <div class="col-sm-6">
    <div id="">
      [photo]
    </div>
  </div>

  <div class="col-sm-6" *ngIf="details.about && details.contact">
    <div id="details-accordion">
      <div class="card card-theme">
        <div class="card-header card-header-theme" id="about">
          <h5 class="mb-0">
            <button class="btn" data-toggle="collapse" data-target="#collapseAbout" aria-expanded="false" aria-controls="collapseAbout">
              About
            </button>
          </h5>
        </div>
        <div id="collapseAbout" class="collapse" aria-labelledby="about" data-parent="#details-accordion">
          <div class="card-body card-body-theme" [innerHtml]="details.about.text">
          </div>
        </div>
      </div>
      <div class="card card-theme">
        <div class="card-header card-header-theme" id="contact">
          <h5 class="mb-0">
            <button class="btn" data-toggle="collapse" data-target="#collapseContact" aria-expanded="false" aria-controls="collapseContact">
              Contact
            </button>
          </h5>
        </div>
        <div id="collapseContact" class="collapse" aria-labelledby="contact" data-parent="#details-accordion">
          <div class="card-body card-body-theme">
            You can find me on:<br />
            <a *ngFor="let sm of details.contact.socialMedia" target="_blank" href="{{sm.url}}" class="text-decoration-none">
              <i class="{{sm.iconClass}} icon social-media"></i>
            </a>
            <br />
            You can also find me here:<br />
            <a *ngFor="let a of details.contact.address" target="_blank" href="{{a}}" class="text-decoration-none">
              <i class="fas fa-map-marker-alt icon map-pin"></i>
            </a>
          </div>
        </div>
    </div>
    </div>
  </div>
</div>